<ion-header>
  <ion-toolbar>
    <ion-title>Registrar producto</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="data.productname" placeholder="Agregar el nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)]="data.productprice" placeholder="Agregar el precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Registrar
    </ion-button>
  </ion-item>

</ion-content> 
