<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CINE CRITICA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Cartelera puebla </h1>

  <h2>Black Adam</h2>
  <img alt="rhino standing near grass" src="https://static.cinepolis.com/img/peliculas/39642/1/1/39642.jpg" />
  <p>Casi 5,000 años después de obtener los poderes supremos de los antiguos dioses –y de ser encarcelado igual de rápido–, Black Adam (Dwayne Johnson) se libera de su tumba terrenal, listo para desatar su peculiar forma de justicia en el mundo moderno.</p>

  <h2>La Exorcista</h2>
  <img alt="brown sea turtle in water" src="https://static.cinepolis.com/img/peliculas/40708/1/1/40708.jpg" />
  <p>Ofelia, una joven monja recién llegada al pueblo de Arquímedes, se ve forzada a practicar un exorcismo a una mujer embarazada después de que el sacerdote local es vencido por el demonio. Cuando parece que la posesión ha terminado, ella descubre que la presencia maligna no se ha ido del pueblo y que, durante las siguientes cuarenta y ocho horas, tratará de regresar al cuerpo de su víctima. Ahora, Ofelia tendrá que hacer todo para evitarlo, aunque eso signifique exponer sus debilidades ante las fuerzas del mal y poner en riesgo su propia vida. Ella tendrá que convertirse en una Exorcista para enfrentarse en un duelo a muerte contra el demonio.</p>

 
</ion-content>